/***** INTRODUCCIÓ *****/
.intro {
    margin: 0px;
    padding: 50px 0px;
    width: 100%;
    max-width: unset;
    background: -webkit-linear-gradient(top, rgba(255, 210, 255, 0.59), rgba(30, 209, 26, 0.3) ), url("../images/nature.jpg");
}

.intro h2 {
    border-bottom-color: white;
    margin-bottom: 40px;
}

.intro_content {
    margin: 0px auto;
    padding: 100px;
    width: 85%;
    max-width: 1200px;
    color: white;
}

.intro p {
    margin: 20px 0px;
    text-align: justify;
}




/***** TOP 3 *****/
.container{
    background-color: rgba(30,209,26,0.55);
}
.top3_list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

}

.top3_list li {
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    border:solid;
}

.top3_list img {
    border-radius: 15px;
}

.top3_list p {
    margin-top: 10px;
}




/***** BIBLIOGRAFIA *****/
.biblio {
    margin-bottom: 20px;
    width: 100%;
}

.biblio li {
    margin: 10px 30px;
}