/***** GENERAL *****/
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: 'Indie Flower', cursive;
}

a {
    color: #2a2687;
    text-decoration: none;
    display: inline-block;
    transition: color ease 0.5s;
}

p {
    margin: 10px 0px;
    line-height: 150%;
}

a:hover {
    color: rgba(15,150,38,0.83);
}

.bold {
    font-weight: bold;
}

img {
    width: 100%;
}


/***** CONTAINER *****/
.container {
    background: -webkit-linear-gradient(top, #e5e4cc, #bac7a7);
}

h1, h2, h3  {
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 20px;
    font-weight: normal;
}

h2 {
    padding-bottom: 10px;
    border-bottom: 2px black solid;
}




/***** HEADER *****/
header {
    padding: 70px 0px;
    color: white;
    background: -webkit-linear-gradient(top, rgba(255, 210, 255, 0.6), rgba(255, 210, 255, 0.3)), url("../images/falguera.jpg");
    background-size: cover;
    box-shadow: rgba(30, 209, 26, 0.5) 5px 0px 10px;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 4em;
    text-align: center;
}




/*MENU */
nav {
    padding: 30px 0px;
    background: -webkit-linear-gradient(top, rgba(255, 210, 255, 0.6), rgba(255, 210, 255, 0.3)), url("../images/falguera.jpg");
}

nav ul {
    margin: 0px auto;
    width: 50%;
    max-width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.mark, nav a {
    text-align: center;
    display: block;
    transition: all ease 0.5s;
}

nav a {
    color: white;
}






/***** MAIN *****/
h2 {
    font-size: 2em;
}
#titol{
    color: white;
    padding-top:10px ;
}
main section {
    background-color: rgba(30,209,26,0.47) ;
    background-image: url("../images/falguera.jpg");
    background-repeat: round;
}





/***** FOOTER *****/
footer {
    padding: 50px;
    color: white;
    background: -webkit-linear-gradient(top, rgba(30, 209, 26, 0.3), rgba(255, 210, 255, 0.59)), url("../images/falguera.jpg");
    background-size: cover;
    box-shadow: rgba(255, 210, 255, 0.5) -5px 0px 10px;
    display: flex;
    flex-wrap: wrap;

}

footer a {
    color: palegoldenrod;
}

footer section {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

footer h2 {
    margin-bottom: 10px;
}


/***** LICENSE *****/
.license {
    margin-right: 20px;
    flex: 1;
}

.license_contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.license img {
    max-width: 250px;
    justify-self: end;
    border-radius: 15px;
}

.contact {
    flex: 1;
}

.contact li {
    margin-left: 20px;
    margin-top: 10px;
}
