@media (max-width: 800px) {

    /*MENU*/
    nav ul {
        display: block;
    }

    nav li {
        margin: 20px 0px;
        text-align: center;
    }

    /*FOOTER*/
    footer {
        display: block;
    }

    .license {
        margin: 0px 0px 30px 0px;
    }

    /*CARETTA CARETTA*/
    .two_columns {
        display: block;
    }

    .img {
        height: 80vw;
        max-height: unset;
    }

    /*CONTACT*/
    form > div {
        width: 100%;
        display: block;
    }

    label {
        margin-bottom: 10px;
        display: inline-block;
    }

    div > input, textarea {
        width: 100%;
    }

    input[type="submit"] {
        font-size: 1.6em;
        margin: 50px auto;
        display: block;
    }
}
